{% extends "base.html" %}
{% block head_content %}

<!DOCTYPE html>
<html lang="en">
{% end block %}

{% block container %}
<body>
    <div class="container-fluid justify-content-center">
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h1>About Us</h1>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h3>How we Began</h3>
            <p>The idea to start <strong> H.Care Tracker</strong> started from the need of medicine in our villages. We needed medicine urgently in our local clinic and after many days of waiting the supplies that had been ordered had not arrived as scheduled.</p>
            <p>This brought about the urgent need to find a system that would allow us to observe the supplies wehad ordered and to be able to track them until they got to their intended destination.</p>

        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h3>What we Do</h3>
            <p>We are a tracking company that provides the service of tracking your supplies from supplier to reciever and to ensure that what has been ordered is exactly what arrives</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h3>Vision</h3>
            <p>To get all affordable and equitable supplies to citizens throught all rural areas and settlements</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h3>Mission</h3>
            <p>To build a reputable distribution system that will serve all equally and ensure accountable, equitable distribution of medical supplies.</p>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-6 col-md-offset-3">
            <h1>Our H.Q</h1>
            <p>Our offices are currently at Moringa. This is where we run our operations from and for the foreseable future will be held here for ease of access to our generous and wonderful clients</p>
        </div>
        
    </div>
   
</body>
</html>
{% end block %}