{% load static %}
<div class=""></div>
<nav class="navbar navbar-light" id="main-navbar">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">to be decided</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-icon">
                    <a href="{% url "user:login" %}" >
                        <i class="fas fa-plus"></i>
                        <span class="d-sm-block d-md-none d-xl-none">Login</span>
                    </a>
                </li>

                <li class="nav-item nav-icon">
                    <a href="{% url "users:logout" %}">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="d-sm-block d-md-none d-xl-none">Log Out</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
