{% extends "base.html" %}
{% load bootstrap5 %} {% load static %}

{%block content%}
<div   class="">
<div class="headings container">
  <h1 class="text-center text-primary mb-5">Check Request</h1>
  <div class="d-flex justify-content-around mt-5">
  <h4 class="border-dark border-0 border-2 border-end pe-5">Donor</h4>
  <h4 class="border-dark border-0 border-2 border-end pe-5">Equipment</h4>
  <h4 class="border-dark border-0 border-2 border-end pe-5">Status</h4>
  <h4 class="border-dark border-0 border-2 border-end pe-5">Time Frame</h4>
  <h4 class="border-dark border-0 border-2 border-end pe-5">Live Track</h4>
</div> 
<hr>
</div>
</div>
{%endblock%}