{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{{title}}    
{% endblock  %}    

{% block content %}


<main class="container-fluid " id="">
    <h1 class=" container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center fw-bold">
        {{title}}
        <pre></pre>
    </h1>
    

    <section>
        <div class="container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center" id="how">
            <img src="/static/images/icons8-start-line-64.png" alt="">
            <h3>How we Began</h3>
            <pre></pre>
            <p>The idea to start <strong> H.Care Tracker</strong> started from the need of medicine in our villages. We needed medicine urgently in our local clinic and after many days of waiting the supplies that had been ordered had not arrived as scheduled.</p>
            <pre></pre>
            <p>This brought about the urgent need to find a system that would allow us to observe the supplies wehad ordered and to be able to track them until they got to their intended destination.</p>
            <pre></pre>

        </div>
        <div class="container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center" id="what">
            <img src="/static/images/icons8-activities-64.png" alt="">
            <h3>What we Do</h3>
            <pre></pre>
            <p>We are a tracking company that provides the service of tracking your supplies from supplier to reciever and to ensure that what has been ordered is exactly what arrives.</p>
            <pre></pre>
        </div>
        <div class="container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center" id="vision">
            <img src="/static/images/icons8-vision-64.png" alt="">
            <h3>Vision</h3>
            <pre></pre>
            <p>To get all affordable and equitable supplies to citizens throught all rural areas and settlements.</p>
            <pre></pre>
        </div>
        <div class="container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center" id="mission">
            <img src="/static/images/icons8-mission-64.png" alt="">
            <h3>Mission</h3>
            <pre></pre>
            <p>To build a reputable distribution system that will serve all equally and ensure accountable, equitable distribution of medical supplies.</p>
            <pre></pre>
        </div>
        <div class="container-fluid col-xs-6 col-sm-3 col-md-6 col-md-offset-3 text-center" id="hq">
            <img src="/static/images/icons8-headquarters-64.png" alt="">
            <h3>Our H.Q</h3>
            <pre></pre>
            <p>Our offices are currently at Moringa. This is where we run our operations from and for the foreseable future will be held here for ease of access to our generous and wonderful clients.</p>
            <pre></pre>
        </div>
    </section>
</main>

{% endblock  %}