{% extends 'base.html' %} 
{% load bootstrap5 %} 
{% load static %} 
{% block content %} 
    <div class="container-fluid ">
        <h1 class="text-center">
            Inbound Request
        </h1>
        <table class="table container">
            <thead>
              <tr>
                <th scope="col">Request id &nbsp;|</th>
                <th scope="col">From &nbsp;|</th>
                <th scope="col">Items &nbsp;|</th>
                <th scope="col">Quantiy &nbsp;|</th>
                <!-- <th scope="col">In Store &nbsp;|</th> -->
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for req in requests  %}                    
                    {% if req.status == 'pending' %}
                    <div>
                      <tr class="req" id="myTableRow">
                        <th scope="row">{{req.pk}}</th>
                        <td>{{req.user.name}}</td>
                        <td>{{req.item}}</td>
                        <td>{{req.quantity}}</td>
                        <!-- <td>{{req.address}}</td> -->
                        <td>
                          <a href="{% url 'dispatch' req.id %}">
                            <input type="button" class="btn btn-sm btn-success " value="Dispatch"  name="Dispatch"> 
                          </a>
                          <a href="{% url 'rejectreq' req.id %}">
                            <input type="button" class="btn btn-sm btn-danger " value="Reject" name="reject">
                          </a>
                        </td>
                      </tr>
                    </div>                      
                    {% endif %}               
              {% endfor %}
            </tbody>
          </table>
    </div>     
    <div class="container-fluid mt-5 ">
        <h1 class="text-center"> 
            Outbound Request
        </h1>
        <table class="table table-success table-striped container">
            <thead>
              <tr>
                <th scope="col">Request id &nbsp;|</th>
                <th scope="col">To &nbsp;|</th>
                <th scope="col">Items &nbsp;|</th>
                <th scope="col">Quantiy &nbsp;|</th>
                <!-- <th scope="col">Status &nbsp;|</th> -->
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="body">  
              {% for req in requests  %}
                {% if req.status != 'pending' %}
                    <tr class="re" id="outbound" >
                      <th scope="row">{{req.pk}}</th>
                      <td>{{req.user}}</td>
                      <td>{{req.item}}</td>
                      <td>{{req.quantity}}</td>
                      <!-- <td>{{req.address}}</td> -->
                      <td>
                        {% if req.status == 'Rejected' %}
                          <span class="text-light bg-danger p-1">{{req.status}}</span>
                        {% else %}
                          <span class="text-light bg-success p-1">{{req.status}}</span>                          
                        {% endif %}
                      </td>     
                    </tr>
                {% endif %}              
              {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}

