<footer class="bg-dark  text-white ">
    <div class="d-flex justify-content-around">
        <div class="p-4 mt-5">
            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>

                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example21" class="form-control" />
                                <label class="form-label" for="form5Example21">Email address</label>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-light mb-4">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="p-4">
            <div>
                <p class="fw-bold text-white">Our Social Platforms</p>
            </div>
            <p><i class="fa-solid fa-phone"></i>&nbsp; +254 702 111 222</p>
            <p><i class="fa-solid fa-envelope-circle-check"></i>&nbsp;hcaretracker@gmail.com</p>
            <p><i class="fa-brands fa-whatsapp text-success"></i>&nbsp; +254 702 222 111 </p>
            <p><i class="fa-brands fa-instagram"></i>&nbsp;hcare_tracker</p>
            <p><i class="fa-solid fa-envelope-open-text"></i>&nbsp; P.O Box 28860 - 00100, Nairobi</p>
        </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright Reserved: &nbsp; &nbsp;<a class="text-white" href="https://hcaretrackers.herokuapp.com/">h-care-tracker.com</a>
    </div>
</footer>