{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %}
{{title}}
    
{% endblock  %}
    

{% block content %}

<main class="bdy">
    <div class="container">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/static/images/img1.webp" class="d-block" alt="displays inventory checklist being compared" style="width:100%;height:500px">
                <div class="carousel-caption d-none d-md-block text-center text-info fs-3 bg-slider mb-5">
                  <h2 >Product Varieties </h2>
                  <p>We dispatch and track all kinds of Hospital equipments </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/static/images/package.jpg" class="d-block" alt="displays packages sent to various destinations" style="width:100%;height:500px">
                <div class="carousel-caption d-none d-md-block text-info fs-3 bg-slider mb-5">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/static/images/img3.webp" class="d-block " alt="displays wide variety of items in our stores" style="width:100%;height:500px">
                <div class="carousel-caption d-none d-md-block text-info fs-3 bg-slider mb-5">
                  <h2>Our Delivery team</h2>
                  <p>We got you covery in delivering what what dispatched. This is to makesure no damages are encounted</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    
       </div> 
     
    
       {% comment %} Cards section starts here {% endcomment %}
       <div style="margin-top: -70px;" class="container-fluid mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-6 me-3 ms-3" >
            <div class="col">
              <div class="card shadow rounded-3 h-100">
                <img src="/static/images/locator.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Location Tracker</h5>
                  <p class="card-text">We tracker out dispatched prodeucts savely and see to it that the items have been delivered in their destination.</p>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow rounded-3 h-100">
                <img src="/static/images/digital.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Our Digital Platform</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                </div>
              </div>
            </div>
            <div class="col ">
              <div class="card shadow rounded-3 h-100">
                <img src="/static/images/feedback.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Customer Feedback</h5>
                  <p class="card-text"> <i>Nairobi Hospital</i> The systems is better and we can depend on. </p>
                  <p class="card-text"> <i>Kamucho Dipensary</i> The systems has helped in curbing corruption since its foundation</p>

                </div>
                <div class="card-footer">
                  <!-- <small class="text-muted">Last updated 3 mins ago</small> -->
                </div>
              </div>
            </div>
          </div>
       </div>
    
       {% comment %} Footer goes here {% endcomment %}
        <footer class="bg-dark text-center text-white">
            <div class="container p-4">
            <section class="">
                <form action="">
                <div class="row d-flex justify-content-center">
        
                    <div class="col-auto">
                    <p class="pt-2">
                        <strong>Sign up for our newsletter</strong>
                    </p>
                    </div>
                    <div class="col-md-5 col-12">
                    <div class="form-outline form-white mb-4">
                        <input type="email" id="form5Example21" class="form-control" placeholder="Enter Email address" />
                    </div>
                    </div>
        
                    <div class="col-auto">
                    
                    <button type="submit" class="btn btn-outline-light mb-4">
                        Subscribe
                    </button>
                    </div>
                </div>
                </form>
            </section>
            
            
            </div>
    
        <div class="text-center p-3" style="background-color: rgba(56, 55, 55, 0.2);">
          © 2022 Copyright Reserved:
          <a class="text-white" href="h-care-tracker.herokuapp.com">h-care-tracker.com</a>
        </div>
       
        </footer>
</main>
 
  
  
    
    
{% endblock  %} 