{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
{{title}}    
{% endblock  %}    

{% block content %}
<main class="container">
    <h1>
        {{title}}    
    </h1> 
    <div class="container">
        <form action="{% url 'login' %} " class="shadow p-4" method="post">
            <div class="text-danger">{{error}}</div>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-success" value="Sign up">
        </form>
    </div>  
</main>

{% endblock  %}