<nav class="navbar navbar-expand-lg navbar-light bg-info p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-3 fw-bolder text-light active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 fw-bolder text-light" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-3 fw-bolder text-light" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  fs-3 fw-bolder text-light" href="#" >Contact</a>
        </li>
      </ul>
    </div>
    <div>
      <a class="text-light fs-3 fw-bolder px-4" href="">Login</a>
      <a class="text-light fs-3 fw-bolder" href="">Sign Up</a>
    </div>
  </div>
</nav>